.header{
    position: fixed;
    z-index: 1000 !important;
    right: 15px;
    top: 15px;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#c9fd74;
        border-radius: 25px;
        color:black !important;
        position: relative;
    }
}