.header{
    position: fixed;
    right: 30px;
    top: 30px;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#c9fd74;
        border-radius: 25px;
        color:black !important;
        position: relative;
    }
}